[Unit]
Description=RSeries BleepBox Service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/reeltwo/BleepBox
ExecStart=/home/pi/reeltwo/BleepBox/BleepBox -v -s -stealth=/dev/Stealth -vmusic=/dev/VMusicSim
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=BleepBox
Restart=always

[Install]
WantedBy=multi-user.target
